.container {
  display: flex;
  flex-direction: row;
}

.column {
  margin-right: 8px;
  min-width: 200px;
}

table {
  border-spacing: 0;
  width: 100%;
}

.withButtons tr {
  height: 23px;
}

button:disabled {
  visibility: hidden;
}

.withHeader {
  border-collapse: collapse;
}

.withHeader thead {
  font-weight: bold;
}

.withHeader tr {
  height: 2em;
  border-bottom: 1px solid #A7A7A7;
}

.highlight {
  background-color: yellow;
}
