.container {
  display: flex;
  flex-direction: row;
}

.column {
  margin-right: 8px;
  min-width: 173px;
}

.standings {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.standings td {
  border: 1px solid black;
  padding: 4px;
}
